page-accueil {

    .menu{
        margin: 10% 32.4% 10% 32.4%;
    }

    .menuButton{
        height: 20rem;
        width: 20rem;
        border-radius: 0%;
    }

    .bottom-left {
        position: absolute;
        bottom: 0;
        width: 20.2315rem;
        //height: 3rem
        padding-left: 1.53px;
    }
}
