<ion-header fixed>
  <ion-navbar color="bleu" #TopMenu>
      <div>
        <img margin style="vertical-align:middle;height:40px" src="../../../assets/imgs/pos-logo.png">
        <div style="vertical-align:middle; display:inline; color:white; font-size:20px">Facturation</div>
        </div>  
  </ion-navbar>
</ion-header>

<ion-content padding>
  <button ion-button block outline color="bleu" class="popOverButton">Création Facture</button>
  <button ion-button block outline color="bleu" class="popOverButton">Création Facture Avoir</button>
  <button ion-button block outline color="bleu" class="popOverButton">Création Bon de Livraison</button>
  <button ion-button block outline color="bleu" class="popOverButton">Création Bon de Retour</button>
  <button ion-button block outline color="bleu" class="popOverButton">Création Offre de Prix</button>
  <button ion-button block outline color="bleu" class="popOverButton">Création Bon de Commande</button>
</ion-content>